.textSlider {
  background-color: #1a1a1a;
  padding: 30px 30px 150px 30px;
  color: #fff;
  position: relative;

  .slide {
    padding: 0 30px;
    opacity: 1;
    transform: translateY(100%);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 45px;
  }

  @media (min-width: 1200px) {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(10%) perspective(500px) translateZ(-200px) scale(0.7);
    filter: blur(2px);
    transition: all 1s ease-in-out;

    &.active {
      opacity: 1;
      transform: translateY(0) perspective(500px) translateZ(0) scale(1);
      filter: blur(0);
    }

    @media (max-width: 768px) {
      font-size: 40px;
    }

    @media (max-width: 480px) {
      font-size: 30px;
    }
  }

  h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    opacity: 0.5;
    line-height: 1.6;
    font-weight: 300; 
    width: 80%;
  }

  & :global(.slick-prev),
  & :global(.slick-next) {
    width: 48px;
    height: 48px;
    z-index: 100;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  & :global(.slick-prev) {
    left: -20px;
    
    @media (max-width: 900px) {
      left: -20px;
    }
  }

  & :global(.slick-next) {
    right: -20px;
    
    @media (max-width: 900px) {
      right: 10px;
    }
  }

  & :global(.slick-prev:before),
  & :global(.slick-next:before) {
    font-size: 46px;
    color: #b9a56a;
    opacity: 0.6;
    font-weight: 1000;
  }

  & :global(.slick-prev:hover:before),
  & :global(.slick-next:hover:before) {
    color: #fff;
    opacity: 0.7 !important;
  }
}
