.storiesSection {
  background: #1A1A1A;
  padding: 60px 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}

.subtitle {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 70px;
     opacity: 0;
    transform: translateY(10%) perspective(500px) translateZ(-200px) scale(0.7);
    filter: blur(2px);
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  
   &.active {
    opacity: 1;
    transform: translateY(0) perspective(500px) translateZ(0) scale(1);
    filter: blur(0);
    }
}

.slider {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 0px;
  position: relative;
  height: 100%;
  max-height: 600px;

  :global(.slick-track) {
    display: flex;
    gap: 30px;
  }

  :global(.slick-slide) {
    height: auto;

    > div {
      height: 100%;
    }
  }

  :global(.slick-prev),
  :global(.slick-next) {
    width: 48px;
    height: 48px;
    z-index: 10;
    border-radius: 50%;
  }

  :global(.slick-prev) {
    left: 30px;

    @media (max-width: 900px) {
      left: 20px;
    }
  }

  :global(.slick-next) {
    right: 30px;

    @media (max-width: 900px) {
      right: 20px;
    }
  }

  :global(.slick-prev:before),
  :global(.slick-next:before) {
    font-size: 46px;
    color: #fff;
    opacity: 0.8;
    font-weight: 1000;
  }

:global(.slick-prev:hover:before),
:global(.slick-next:hover:before) {
  color: #b9a56a !important;
  opacity: 0.9 !important;
}
}

.slide {
  display: flex;
  flex-direction: column;
  background: transparent;
  flex: 1;
}

.imageWrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}

.caption {
    flex: 1;
  background: #b9a56a;
  padding: 20px 30px 40px 30px;
  text-align: left;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transform: translateX(-100%) translateY(40%);
    transition: all 1s ease-in-out;

    &.active {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    color: white;
    opacity: 0;
    transform: translateX(100%) translateY(40%);
    transition: all 1s ease-in-out;

    &.active {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .imageWrapper {
    height: 260px;
  }

  .caption {
    min-height: 130px;
    padding: 20px;
  }

  .slideDesc{
    margin: 30px;
  }
}

@media (max-width: 1280px) {
    h2{
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }
    h4{
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }
    p{
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
        filter: none !important;
    }
}