.center {
  max-width: 1600px;
  margin: 0 auto;
}

.footer {
  background-color: #000;
  padding: 80px 100px;

  @media (max-width: 1024px) {
    padding: 60px 40px;
  }

  @media (max-width: 600px) {
    padding: 40px 20px;
  }
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}

.footerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerLogo {
  width: 120px;
  margin-bottom: 20px;
}

.footerTextItem1 {
  font-size: 16px;
  color: #ccc;
  max-width: 320px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.footerTextTime {
  font-size: 18px;
  color: white;
  margin: 4px 0;
}

.footerText {
  font-size: 20px;
  color: white;
  margin: 8px 0;
  line-height: 1.5;

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.footerTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.footerLink {
  font-size: 20px;
  color: #b8a269;
  font-weight: 600;
  text-decoration: none;
  margin-top: 8px;

  &:hover {
    color: #b8a269ba;
  }
}

.footerIcon {
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}

.socialMedia {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.socialMediaIcon {
  width: 30px;
  height: 30px;

  filter: 
    brightness(0)
    saturate(100%)
    invert(63%)
    sepia(32%)
    saturate(482%)
    hue-rotate(4deg)
    brightness(92%)
    contrast(92%);

  transition: transform 0.3s ease, opacity 0.3s ease;

  &:hover {
    transform: scale(1.02);
    opacity: 0.7;
  }
}
